<template>
    
    <nav class = "navbar navbar-default" role = "navigation">
        <div class="navbar-header">
            <a ng-href="/#/" href="/#/" class="navbar-brand hvr-grow">
                <img width="35" height="35" border="0" title="Dell" alt="Dell" src="src/components/images/logo-wt-bl.png">
            </a>
        </div>
        <!-- <ul class="nav navbar-nav">
            <li><a href="/#/"><i style="color: white;font-size: 20px" class="zmdi zmdi-home"></i></a></li>
        </ul> -->
        <h4 class="nav navbar-nav app-nav-head">GSD Automation</h4>
      
        
    </nav>
</template>